* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    margin-top: 15%;
    background: rgb(255,136,194);
    background: linear-gradient(90deg, rgba(255,136,194,0.7394607501203607) 31%, rgba(127,62,255,0.6890405820531338) 100%);
}
table, th, td{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: rgb(50, 50, 50);
    color: white;
    font-size: 17px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
